body {
	margin: 0;
	font-family: Helvetica;
	background-color: black;
}
h1 {
	color: white;
	font-weight: lighter;
}
#logo {
	height: 80px;
	width: 120px;

}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}